APP_NAME=MeteoFusion API
ENVIRONMENT=development
HTTP_TIMEOUT_SECONDS=10

OPENMETEO_API_KEY=
WEATHER_API_KEY=
GOOGLE_WEATHER_API_KEY=
METEOSOURCE_API_KEY=
XWEATHER_API_KEY=
XWEATHER_CLIENT_ID=
XWEATHER_CLIENT_SECRET=
VISUAL_CROSSING_API_KEY=
