APP_NAME=MeteoFusion API
ENVIRONMENT=development
HTTP_TIMEOUT_SECONDS=10

GOOGLE_WEATHER_API_KEY=
WEATHER_API_KEY=
OPENWEATHER_API_KEY=
METEOSOURCE_API_KEY=
XWEATHER_CLIENT_ID=
XWEATHER_CLIENT_SECRET=
XWEATHER_HOURLY_PERIOD_LIMIT=24
